#about-container{
	background-color:white;
	width: 400px;
	height: 550px;
	float:right;
}

#about-contact-info{
	display:block;
	color: #204a65;
	border: 10px solid white; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	width: 306px; 
	padding: 30px 25px; 
	background: white;
	text-align:left;
}

#about-contact-info dt {
	text-transform: uppercase; 
	font-family: "brandon-grotesque", Helvetica, Arial, sans-serif; 
	font-weight: 700; 
	letter-spacing: 1px;
	font-size: 12px;
	color: #F10400;
	text-align: left;
}

#about-contact-info dd {
	text-align:left;
	margin-bottom: 25px;
}

#about-container2{
	float:left;
	height:550px;
	width:1200px;
}

a.about-nav{
	display:table-cell;
	vertical-align:middle;
}

#history{
	float:right;
	width:450px;
	display:block;
	position:absolute;
	padding-bottom:10%;
	padding-left:10%;
}


#history-title{
	
}
