/* Uses LESS */

/* Colours */

@bg: #FFF;
@bg-grey: #E2E2E2;
@fotheby-purple: #740D60;
@fotheby-red: #F10400;
@text-light: #FFF;
@text-dark: #424242;

/* ---- */


.html {
	background-color: @bg;
}

.body {
	background-color: @bg-grey;
}

#navbar {
	background-color: @fotheby-purple;
	color: @text-light;
}
